@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zen+Kurenaido&display=swap');

html, body {
    /* background-color: whitesmoke; */
    background-color: #f0f0f0;
    max-width: 100%;
    overflow-x: hidden;
    font-family:  'Muli', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2;
}

h1, h2, h3, h4, h5 {
    width: 100%;
    margin: 0;
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 54px;
    border-left: 10px solid #4CAF50;

}

h2 {
    font-size: 42px;
    font-weight: 900;
    color: cadetblue;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

.navbar {
    max-width: 100%;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 3px 5px solid black;
}

.navbar i{
    font-size: 34px;
    text-align: center;
    display: none;
}

.hidden ul {
    display: flex;
}

.hidden li, .footer-list{
    list-style: none;
    padding: 0 3%;
}

.hidden li a {
    text-decoration: none;
    color: black;
    font-size: 20pt;
    float: right;
}

.hidden li a:hover {
    color: cadetblue;
}

.event-poster{
    width: 30%;
    float: left;
    margin: 1.5%;
    background-clip: border-box;
    object-fit: cover;
    object-position: bottom;
}

button {
    padding:10px;
    background-color: #4CAF50;
    border: 0px;
    text-decoration:none;
    border-radius: 25%;
  }

button a {
    text-decoration: none;
    color: whitesmoke;
}

.event-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer {
    background-color: rgb(134, 194, 93);
    color: whitesmoke;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-contents {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

.create-event-image {
    height: 100px;
    background-image: url('media/create-event.jpeg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.create-event-details {
    margin: 0 25%;
    line-height: 2em;
    letter-spacing: 2;
}

.event-image {
    width: 48%;
    margin: 1.5%;
}

.event-in-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.buy-tickets-button {
    width: 50%;
    margin: 0 25%;
    color: whitesmoke;
}

.poster-details {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (max-width: 864px) {
    .event-poster{
        width: 80%;
        margin: 3% 5%;
        padding: 2% 5%;

    }

    .hidden {
        display: none;
    }

    .navbar i{
        font-size: 34px;
        text-align: center;
        padding: auto;
        display: inline-block;
        transition: width 5s ease;
    }

    .event-in-details, .footer-contents {        
        display: grid;
        width: 50%;
        margin: 0 25%;
        justify-content: center;
        text-align: center;
    }

    .buy-tickets-button {
        width: 80%;
        margin: 0 25%;
        color: whitesmoke;
    }

}